/* https://www.w3schools.com/howto/howto_css_image_text.asp */
/* * {
    border: 1px solid black;
} */

body {
    width: 960px;
    margin: 0 auto;
	padding: 30px;
    align-content: center;
}
table, th, td {
    border: 1px solid black;
    border-spacing: 8px;
    margin: 5px;
	padding: 3px;
    border: 5px;
  }
header {
    font-weight: bold;
    position: relative;
    text-align: center;
}
header h1 {
    position: absolute;
    top: 20px;
    left: 50%;
    font-family: 'Pangolin', cursive;
    font-size: xx-large;
}
header h2 {
    position: absolute;
    bottom: 20px;
    left: 100px;
}
input:invalid {
    box-shadow: 0 0 0 1px red;
}
#recipe {
    background-image: url("/img/list-bg.png");
    /* background-color: ivory; */
    width: 960px;
    height: 305px; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    font-family: 'Pangolin', cursive;
    font-size: larger;
}
#recipe h2 {
    position: absolute;
    top: 10%;
    left: 50%;
    font-size: x-large;
    transform: translate(-50%, -50%);
}
#checkLeft {
    top: 15%;
    left: 20%;
    position: absolute;
    list-style-type: square;
}
#checkRight {
    top: 15%;
    right: 20%;
    position: absolute;
    list-style-type: square;
}
#recipe h3 {
    bottom: 35%;
    left: 50%;
    position: absolute;
    font-size: x-large;
    transform: translate(-50%, -50%);
}
#recipe p {
    bottom: 10%;
    padding: 10px 40px 10px 40px;
    position: absolute;
}
